body {
  font-family: Roboto, sans-serif;
}

.banner-content {
  color: #000;
}

.banner {
  background: url("../images/banner-bunny.jpg") bottom center;
  background-size: cover;
}

.pink-bg {
  background-color: #feb2a8;
  opacity: .8;
}

footer {
  background-color: #feb2a8;
  color: #000;
}

.nav a {
  list-style-type: none;
  text-decoration: none;
  color: #555;
}

.nav a:hover {
  color: #fe6067;
}

h1 {
  color: #000;
  border: solid 2px #707070;
  border-right: none;
  border-left: none;
}

.card-1,
.card-2 {
  background-color: #c3c3c3;
}

.card-1:hover,
.card-2:hover {
  background-color: #feb2a8;
}

.w-border {
  border: solid 2px #fff;
}

.border-t {
  border: solid 1px #707070;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.btn:hover {
  background-color: #feb2a8;
  border-color: #000;
  color: #000;
}

.b-border {
  border: solid 2px #707070;
  background-color: #e0e0e0;
}

table {
  border-collapse: collapse;
}

fieldset,
legend {
  border: none;
}
