body {
  font-family: 'Roboto', sans-serif;
}

.banner {
  background-color: #707070;
  color: #fff;
  opacity: .8;
}

footer {
  background-color: #FA8383;
  color: #fff;
}

.nav a {
  list-style-type: none;
  text-decoration: none;
  color: #707070;
  text-transform: uppercase;
}

h1 {
  color: #FE6067;
  border: solid 2px #FE6067;
  border-right: none;
  border-left: none;
  font-weight: 700;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
}

.card-1 {
  background-color: #A2A2A2;
}

.card-2 {
  background-color: #C3C3C3;
}

.w-border {
  border: solid 2px #fff;
}

.border-t {
  border: solid 1px #707070;
  border-right: none;
  border-left: none;
  border-bottom: none;
}
